{% macro add_table_rows(account_list, root_currency, parent_id) -%}
        {% for account in account_list %}
        <tr data-tt-id="{{ account['guid'] }}" {%- if parent_id != 0 %} data-tt-parent-id="{{parent_id}}" {%- endif -%}>
            <td colspan="3">{{ account["name"] }}</td>
            <td>{% if account["value"] != 0 %}{{ format_currency(account["value"], account["currency"]) }}{% endif %}</td>
            <td>{% if account["sub_total"] != 0 %}{{ format_currency(account["sub_total"], account["currency"]) }}{% endif %}</td>
            <td>{% if account["value_in_root_currency"] != 0 %}{{ format_currency(account["value_in_root_currency"], root_currency) }}{% endif %}</td>
            <td>{% if account["sub_total_in_root_currency"] != 0 %}{{ format_currency(account["sub_total_in_root_currency"], root_currency) }}{% endif %}</td>
        </tr>
        {% if account["splits"]|length > 0 %}
        {% for split in account["splits"] %}
        <tr data-tt-id="{{ account['guid'] }}_split{{ loop.index }}" data-tt-parent-id="{{ account['guid'] }}">
            <td width="200px">{{split["date"]}}</td>
            <td>{{split["description"]}}</td>
            <td>{{split["category"]}}</td>
            <td>{{format_currency(split["value"], account["currency"])}}</td>
            <td></td>
            <td title="{{account['currency']}}/{{root_currency}} = {{split['exchange_rate']}}">{{format_currency(split["value_in_root_currency"], root_currency)}}</td>
            <td></td>
        </tr>
        {% endfor %}
        {% endif %}

        {% if account["children"]|length > 0 %}
            {{ add_table_rows(account["children"], root_currency, account['guid']) }}
        {% endif %}
    {% endfor %}
{%- endmacro %}

{% macro add_table(currency, account_type, account_summary, root_currency) %}
<table class="styled-table" id="account_info_{{currency}}_{{account_type}}">
    <thead>
        <tr>
            <th colspan="3">Description</th>
            <th>Value</th>
            <th>Sub-total</th>
            <th>Value ({{root_currency}})</th>
            <th>Sub-total ({{root_currency}})</th>
        </tr>
    </thead>
    <tbody>
        {{ add_table_rows(account_summary, root_currency, 0) }}
    </tbody>
</table>
{% endmacro %}