{% macro account_table(account_list, parent_id) -%}
        {% for account in account_list %}
        <tr data-tt-id="{{ account['guid'] }}" {%- if parent_id != 0 %} data-tt-parent-id="{{parent_id}}" {%- endif -%}>
            {% if account['type'] not in ('STOCK', 'MUTUAL') %}
            <td colspan="2">{{ account["name"] }}</td>
            <td>{% if account["value"] != 0 %}{{ format_currency(account["value"], account["currency"]) }}{% endif %}</td>
            <td>{% if account["sub_total"] != 0 %}{{ format_currency(account["sub_total"], account["currency"]) }}{% endif %}</td>
            <td>{% if account["value_in_root_currency"] != 0 %}{{ format_currency(account["value_in_root_currency"], root_currency) }}{% endif %}</td>
            <td>{% if account["sub_total_in_root_currency"] != 0 %}{{ format_currency(account["sub_total_in_root_currency"], root_currency) }}{% endif %}</td>
            {% else %}
            <td>{{ account["name"] }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{% if account["value"] != 0 %}{{ format_currency(account["value"], account["currency"]) }}{% endif %}</td>
            <td></td>
            <td></td>
            <td></td>
            {% endif %}
        </tr>
        {% if account["splits"]|length > 0 %}
        {% for split in account["splits"] %}
        <tr data-tt-id="{{ account['guid'] }}_split{{ loop.index }}" data-tt-parent-id="{{ account['guid'] }}">
            {% if account['type'] not in ('STOCK', 'MUTUAL') %}
            <td width="200px">{{split["date"]}}</td>
            <td>{{split["description"]}}</td>
            <td>{{format_currency(split["value"], account["currency"])}}</td>
            <td></td>
            <td title="{{account['currency']}}/{{root_currency}} = {{split['exchange_rate']}}">{{format_currency(split["value_in_root_currency"], root_currency)}}</td>
            <td></td>
            {% else %}
            <td>{{split["description"]}}</td>
            <td>{{split["quantity"]}}</td>
            <td>{{split["purchase_date"]}}</td>
            <td>{{format_currency(split["purchase_value"], account["currency"])}}</td>
            <td>{{split["sale_date"]}}</td>
            <td>{{format_currency(split["sale_value"], account["currency"])}}</td>
            <td>{{format_currency(split["capital_gains"], account["currency"])}}</td>
            <td title="{{account['currency']}}/{{root_currency}} = {{split['purchase_exchange_rate']}}">{{format_currency(split["purchase_value_in_root_currency"], root_currency)}}</td>
            <td title="{{account['currency']}}/{{root_currency}} = {{split['sale_exchange_rate']}}">{{format_currency(split["sale_value_in_root_currency"], root_currency)}}</td>
            <td>{{format_currency(split["capital_gains_in_root_currency"], root_currency)}}</td>
            {% endif %}
        </tr>
        {% endfor %}
        {% endif %}

        {% if account["children"]|length > 0 %}
            {{ account_table(account["children"], account['guid']) }}
        {% endif %}
    {% endfor %}
{%- endmacro %}


<html>

<head>
    <title>Tax report</title>
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.js'></script>
    <script src='https://code.jquery.com/ui/1.13.0/jquery-ui.min.js'></script>
    
    <script src="https://cdn.jsdelivr.net/npm/jquery-treetable@3.2.0-1/jquery.treetable.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/jquery-treetable@3.2.0-1/css/jquery.treetable.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/jquery-treetable@3.2.0-1/css/jquery.treetable.theme.default.css" rel="stylesheet" type="text/css" />
    <script>
        $(document).ready(function() {
            {% for currency in summary %}
                {% for account_type in summary[currency] %}
                    $("#account_info_{{currency}}_{{account_type}}").treetable({
                expandable:true
            });
                {% endfor %}
            {% endfor %}
        });
    </script>
</head>

<body>
    {% for currency in summary %}
        <h2>{{currency}}</h2>
        {% for account_type in summary[currency] %}
        <h3>{{account_type}}</h3>
        {% if account_type not in ('STOCK', 'MUTUAL') %}
        <table class="styled-table" id="account_info_{{currency}}_{{account_type}}">
            <thead>
                <tr>
                    <th colspan="2">Description</th>
                    <th>Value</th>
                    <th>Sub-total</th>
                    <th>Value ({{root_currency}})</th>
                    <th>Sub-total ({{root_currency}})</th>
                </tr>
            </thead>
            <tbody>
                {{ account_table(summary[currency][account_type], 0) }}
            </tbody>
        </table>
        {% else %}
        <table class="styled-table" id="account_info_{{currency}}_{{account_type}}">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Purchase date</th>
                    <th>Purchase value ({{currency}})</th>
                    <th>Sale date</th>
                    <th>Sale value ({{currency}})</th>
                    <th>Capital gains ({{currency}})</th>
                    <th>Purchase value ({{root_currency}})</th>
                    <th>Sale value ({{root_currency}})</th>
                    <th>Capital gains ({{root_currency}})</th>
                </tr>
            </thead>
            <tbody>
                {{ account_table(summary[currency][account_type], 0) }}
            </tbody>
        </table>
        {% endif %}
        {% endfor %}
    {% endfor %}
</body>

</html>