{% macro account_table(account_list, parent_id) -%}
        {% for account in account_list %}
        <tr data-tt-id="{{ account['name'] }}" {%- if parent_id != 0 %} data-tt-parent-id="{{parent_id}}" {%- endif -%}>
            <td colspan="2">{{ account["name"] }}</td>
            <td>{% if account["value"] != 0 %}{{ account["value"] }}{% endif %}</td>
            <td>{% if account["sub_total"] != 0 %}{{ account["sub_total"] }}{% endif %}</td>
        </tr>
        {% if account["splits"]|length > 0 %}
        {% for split in account["splits"] %}
        <tr data-tt-id="{{ account['name'] }}_split{{ loop.index }}" data-tt-parent-id="{{ account['name'] }}">
            <td width="140px">{{split["date"]}}</td>
            <td>{{split["description"]}}</td>
            <td>{{split["value"]}}</td>
            <td></td>
        </tr>
        {% endfor %}
        {% endif %}

        {% if account["children"]|length > 0 %}
            {{ account_table(account["children"], account['name']) }}
        {% endif %}
    {% endfor %}
{%- endmacro %}


<html>

<head>
    <title>Tax report</title>
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.js'></script>
    <script src='https://code.jquery.com/ui/1.13.0/jquery-ui.min.js'></script>
    
    <script src="https://cdn.jsdelivr.net/npm/jquery-treetable@3.2.0-1/jquery.treetable.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/jquery-treetable@3.2.0-1/css/jquery.treetable.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/jquery-treetable@3.2.0-1/css/jquery.treetable.theme.default.css" rel="stylesheet" type="text/css" />
    <script>
        $(document).ready(function() {
            {% for account in summary %}
            $("#account_info_{{account['name']}}").treetable({
                expandable:true
            });
            {% endfor %}
        });
    </script>
</head>

<body>
    <h2>Income</h2>
    {% for account in summary %}
        <h3>{{ account["name"] }}</h3>
        <table class="styled-table" id="account_info_{{account['name']}}">
            <thead>
                <tr>
                    <th colspan="2">Description</th>
                    <th>Value</th>
                    <th>Sub-total</th>
                </tr>
            </thead>
            <tbody>
                {{ account_table(account["children"], 0) }}
            </tbody>
        </table>
    {% endfor %}
</body>

</html>