{% import 'income_expense_table.html' as income_expense_table %}
{% import 'capital_gains_table.html' as capital_gains_table %}

<html>
<head>
    <title>Tax report</title>
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.js'></script>
    <script src='https://code.jquery.com/ui/1.13.0/jquery-ui.min.js'></script>
    
    <script src="https://cdn.jsdelivr.net/npm/jquery-treetable@3.2.0-1/jquery.treetable.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/jquery-treetable@3.2.0-1/css/jquery.treetable.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/jquery-treetable@3.2.0-1/css/jquery.treetable.theme.default.css" rel="stylesheet" type="text/css" />
    <script>
        $(document).ready(function() {
        {% for account_type in summary %}
            $("#account_info_{{account_type}}").treetable({
                expandable:true
            });
        {% endfor %}
        });
    </script>
</head>

<body>
    {% for account_type in summary %}
        <h3>{{account_type}}</h3>
        {% if account_type not in ('ASSET', 'EQUITY', 'STOCK', 'MUTUAL') %}
            {{ income_expense_table.add_table(account_type, summary[account_type], root_currency, currency_filter) }}
        {% else %}
            {{ capital_gains_table.add_table(account_type, summary[account_type], root_currency, currency_filter) }}
        {% endif %}
    {% endfor %}
</body>

</html>